<section id="viewEditFlight">
    <h2>Edit existing flight</h2>
    <form action="#/flight/edit/{{flight._id}}" method="POST" id="formEditFlight">
        <label>Destination:</label>
        <input type="text" name="destination" placeholder="Destination" value="{{flight.destination}}" >
        <label>Origin:</label>
        <input type="text" name="origin" placeholder="Origin" value="{{flight.origin}}">
        <label>Departure Date:</label>
        <input type="date" id="tt" name="departureDate" value="{{flight.departureDate}}">
        <label>Departure Time:</label>
        <input type="time" name="departureTime" value="{{flight.departureTime}}">
        <label>Number of Seats:</label>
        <input type="text" name="seats" value="{{flight.seats}}">
        <label>Cost per seat:</label>
        <input type="text" step="2" name="cost" value="{{flight.cost}}">
        <label>Image:</label>
        <input type="text" name="img" value="{{flight.image}}">
        <label>Is Public:</label>
        {{#if flight.isPublic}}
            <input type="checkbox" name="public" checked>
        {{else}}
            <input type="checkbox" name="public">
        {{/if}}

        <input type="submit" class="save-changes" value="Save Changes">
    </form>
</section>