<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form action="#/chirp/create" method="POST" id="formSubmitChirp" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>{{myChirpsCount}} chirps</span> | <span>{{followingsCount}} following</span> | <span>{{followersCount}} followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>
            {{#each chirpsToShow}}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#/profile/{{author}}" class="chirp-author">{{author}}</a>
                        <span class="chirp-time">{{time}}</span>
                    </div>
                    <p>{{text}}</p>
                </article>
            {{else}}
                <span class="loading">No chirps in database</span>
            {{/each}}
        </div>
    </div>
</section>