<section id="viewProfile">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            {{#if isFollowed}}
                <a id="btnFollow" class="chirp-author" href="#/follow/{{username}}">Unfollow</a>
            {{else}}
                <a id="btnFollow" class="chirp-author" href="#/follow/{{username}}">Follow</a>
            {{/if}}


            <div id="userProfileStats" class="user-details">
                <span>{{chirpsCount}} chirps</span> | <span>{{followings}} following</span> | <span>{{followers}} followers</span>
            </div>
        </div>
        <div id="profileChirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#/profile/{{author}}" class="chirp-author">{{author}}</a>
                        <span class="chirp-time">{{time}}</span>
                        {{#if isAuthor}}
                            <span class="chirp-delete">
                                    <a href="#/chirp/delete/{{id}}">delete</a>
                                </span>
                        {{/if}}
                    </div>

                    <p>{{text}}</p>
                </article>
            {{else}}
                <span class="loading">No chirps in database</span>
            {{/each}}
    </div>
</section>